<section class="footer-top">
  <div class="containers">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">
          <img
            src="https://short.com.vn/b0un"
            alt="Footer-Logo"
            style="height: 150px; width: 80%"
          />
        </div>
        <div class="footer-top-menu">
          <ul>
            <li>
              <i class="fa fa-home"> </i>
              <span class="heading">Dia chi: </span>
              <span class="address">Ha Dong, Ha Noi</span>
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              <span class="heading">Mail:</span>
              <span class="email"
                ><a href="mailto:example@gmail.com">example&#64;gmail.com</a></span
              >
            </li>
            <li>
              <i class="fa fa-phone"></i>
              <span class="heading">Phone:</span>
              <span class="number">
                <a href="1-888-345-4799">1-888-345-4799 </a>
              </span>
            </li>
            <li>
              <a href="">
                <img
                  src="https://short.com.vn/AYzN"
                  alt="Payment"
                  style="width: 80%; height: 100px"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-all-menu">
          <h2>Hải Long</h2>
          <ul>
            <li>
              <i class="fa fa-circle"> </i>
              <a href="">Hỗ trợ</a>
            </li>
            <li>
              <i class="fa fa-circle"> </i>
              <a href="">BLog</a>
            </li>
            <li><i class="fa fa-circle"> </i> <a href="">Mail</a></li>
            <li><i class="fa fa-circle"> </i> <a href="">Hướng dẫn mua hàng</a></li>
            <li><i class="fa fa-circle"> </i> <a href="">Hướng dẫn bán hàng</a></li>
            <li><i class="fa fa-circle"> </i> <a href="">Đơn hhàng</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-all-menu">
          <h2>Hải Long</h2>
          <ul>
            <li>
              <i class="fa fa-circle"> </i>
              <a href="">Hỗ trợ</a>
            </li>
            <li>
              <i class="fa fa-circle"> </i>
              <a href="">BLog</a>
            </li>
            <li><i class="fa fa-circle"> </i> <a href="">Mail</a></li>
            <li><i class="fa fa-circle"> </i> <a href="">Hướng dẫn mua hàng</a></li>
            <li><i class="fa fa-circle"> </i> <a href="">Hướng dẫn bán hàng</a></li>
            <li><i class="fa fa-circle"> </i> <a href="">Đơn hhàng</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-all-menu">
          <h2>Hải Long</h2>
          <ul>
            <li>
              <i class="fa fa-circle"> </i>
              <a href="">Hỗ trợ</a>
            </li>
            <li>
              <i class="fa fa-circle"> </i>
              <a href="">BLog</a>
            </li>
            <li><i class="fa fa-circle"> </i> <a href="">Mail</a></li>
            <li><i class="fa fa-circle"> </i> <a href="">Mua hàng</a></li>
            <li><i class="fa fa-circle"> </i> <a href="">Bán hàng</a></li>
            <li><i class="fa fa-circle"> </i> <a href="">Đơn hhàng</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer-middle">
  <div class="containers">
    <div class="row">
      <div class="col-md-4">
        <h2>Đăng nhập để nhận những thông tin độc quyền</h2>
      </div>
      <div class="col-md-4">
        <input type="mail" class="input" placeholder="Email" />
        <button type="button" class="btn">
          <i class="fa fa-location-arrow"></i>
        </button>
      </div>
      <div class="col-md-4">
        <div class="social text-center">
          <ul>
            <li>
              <a href=""><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-pinterest"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-google-plus"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="containers text-center">
    <p>&#64; 2024 Design by <a href="">Hai Long</a> All Rights Reserve</p>
  </div>
</footer>

<div class="layout-footer">
  <img
    src="assets/layout/images/{{
      layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'
    }}.svg"
    alt="Logo"
    height="20"
    class="mr-2"
  />
  by
  <span class="font-medium ml-2">Hai Long</span>
</div>
