<section class="best-selling">
  <div class="containers">
    <div class="best-selling-container">
      <div class="sale-price">Sale <strong>14%</strong></div>
      <div class="selling-col-1">
        <div class="selling-left">
          <ul>
            <li>
              <span class="count-date">{{ days }}</span>
              <span class="count-day">Days</span>
            </li>
            <li>
              <span class="count-date">{{ hours }}</span>
              <span class="count-day">Hours</span>
            </li>
            <li>
              <span class="count-date">{{ mins }}</span>
              <span class="count-day">Mins</span>
            </li>
            <li>
              <span class="count-date">{{ secs }}</span>
              <span class="count-day">Secs</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="selling-col-2">
        <div class="selling-img">
          <img
            src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg"
            alt="Best Selling"
          />
        </div>
      </div>
      <div class="selling-col-3">
        <div class="selling-heading">
          <a href="javascript:void(0)">{{ product.name }}</a>
          <div class="selling-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <p>
          {{ product.seoMetaDescription }}
        </p>
        <h3>
          <span class="selling-amount">{{ product.sellPrice }}Đ</span>
          <span class="selling-discount">$202</span>
        </h3>
        <div class="delivery">
          <h5 class="delivery_left-slide">Vận chuyển :</h5>
          <span class="delivery_right-slide">Miễn phí vận chuyển</span>
        </div>
        <div>
          <h5>Số lượng:</h5>
          <p-inputNumber
            [(ngModel)]="currentQuantity"
            [style]="{ width: '4rem' }"
            [showButtons]="true"
            buttonLayout="vertical"
            spinnerMode="vertical"
            inputId="vertical"
            decrementButtonClass="p-button-secondary"
            incrementButtonClass="p-button-secondary"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
            [min]="1"
          />
        </div>
        <div class="selling-button">
          <button class="cart-btn" (click)="handleAddToCart()">
            <i class="fa fa-shopping-cart"></i>Add To Cart
          </button>
          <button type="button" class="main-button">
            <a href="javascript:void(0)"><i class="fa fa-heart"></i></a>
            <a href="javascript:void(0)"><i class="fa fa-search"></i></a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
