<form [formGroup]="form" skipValidation (ngSubmit)="saveChange()">
  <p-panel #pnl header="Chi tiết loại sản phẩm">
    <!--form grid-->
    <div class="formgrid grid">
      <div class="field col-12">
        <label for="name" class="block">Tên nhà sản xuất <span class="required">*</span></label>
        <input id="name" pInputText type="text" class="w-full" formControlName="name" />
        <app-validation-message
          [entityForm]="form"
          fileName="name"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="code" class="block">Code <span class="required">*</span></label>
        <input id="code" pInputText type="text" formControlName="code" />
        <app-validation-message
          [entityForm]="form"
          fileName="code"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="slug" class="block">Slug <span class="required">*</span></label>
        <input id="slug" pInputText type="text" formControlName="slug" />
        <app-validation-message
          [entityForm]="form"
          fileName="slug"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="sortOrder" class="block">Thứ tự <span class="required">*</span></label>
        <p-inputNumber formControlName="sortOrder"></p-inputNumber>
        <app-validation-message
          [entityForm]="form"
          fileName="sortOrder"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="coverPicture" class="block">coverPicture <span class="required">*</span></label>
        <input id="coverPicture" pInputText type="text" formControlName="coverPicture" />
        <app-validation-message
          [entityForm]="form"
          fileName="coverPicture"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>

      <div class="field-checkbox col-12 md:col-3">
        <p-checkbox formControlName="visibility" binary="true" id="visibility"></p-checkbox>
        <label for="visibility">Hiển thị</label>
      </div>

      <div class="field-checkbox col-12 md:col-3">
        <p-checkbox formControlName="isActive" binary="true" id="isActive"></p-checkbox>
        <label for="isActive">Kích hoạt</label>
      </div>

      <div class="field col-12">
        <label for="parentId" class="block">parentId <span class="required">*</span></label>
        <input id="parentId" pInputText type="text" formControlName="parentId" />
        <app-validation-message
          [entityForm]="form"
          fileName="parentId"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>

      <div class="field col-12">
        <label for="seoMetaDescription" class="block">Mô tả SEO</label>
        <textarea
          id="seoMetaDescription"
          pInputTextarea
          class="w-full"
          formControlName="seoMetaDescription"
        ></textarea>
        <app-validation-message
          [entityForm]="form"
          fileName="seoMetaDescription"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <button
        type="submit"
        [disabled]="!form.valid || btnDisabled"
        pButton
        icon="fa fa-save"
        iconPos="left"
        label="Lưu lại"
      ></button>
    </ng-template>
    <!--Block UI-->
    <p-blockUI [blocked]="blockedPanel" [target]="pnl">
      <p-progressSpinner></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</form>
