<section class="bg-color">
  <div class="containers">
    <div class="title">
      <p>The Best Seller</p>
      <h1><span>Best</span> Seller</h1>
      <i class="fa fa-star"></i>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">-9%</div>
            <div class="label label-green">Pre-Order</div>
            <div class="product-container">
              <div class="p" (mouseover)="changeImage($event)">
                <img
                  src="https://i.pinimg.com/736x/69/28/fc/6928fc784d3e61c01ce96eb3c91612ba.jpg"
                  alt="Product"
                />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img
                  src="https://i.pinimg.com/736x/69/28/fc/6928fc784d3e61c01ce96eb3c91612ba.jpg"
                  alt="Product"
                />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img
                  src="https://i.pinimg.com/736x/69/28/fc/6928fc784d3e61c01ce96eb3c91612ba.jpg"
                  alt="Product"
                />
              </div>
            </div>
            <div class="image">
              <img
                src="https://i.pinimg.com/736x/69/28/fc/6928fc784d3e61c01ce96eb3c91612ba.jpg"
                alt="Image"
              />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href="">
                    <i class="fa fa-shopping-basket"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-heart"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="">Incidid Tongue Bar</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p><span class="money">500.000Đ</span> <span class="old-price">470.000Đ</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">-9%</div>
            <div class="label label-green">Pre-Order</div>
            <div class="product-container">
              <div class="p" (mouseover)="changeImage($event)">
                <img
                  src="https://i.pinimg.com/736x/69/28/fc/6928fc784d3e61c01ce96eb3c91612ba.jpg"
                  alt="Product"
                />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img
                  src="https://i.pinimg.com/736x/69/28/fc/6928fc784d3e61c01ce96eb3c91612ba.jpg"
                  alt="Product"
                />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img
                  src="https://i.pinimg.com/736x/69/28/fc/6928fc784d3e61c01ce96eb3c91612ba.jpg"
                  alt="Product"
                />
              </div>
            </div>
            <div class="image">
              <img
                src="https://i.pinimg.com/736x/69/28/fc/6928fc784d3e61c01ce96eb3c91612ba.jpg"
                alt="Image"
              />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href="">
                    <i class="fa fa-shopping-basket"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-heart"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="">Incidid Tongue Bar</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p><span class="money">500.000Đ</span> <span class="old-price">470.000Đ</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">-9%</div>
            <div class="label label-green">Pre-Order</div>
            <div class="product-container">
              <div class="p" (mouseover)="changeImage($event)">
                <img
                  src="https://i.pinimg.com/736x/69/28/fc/6928fc784d3e61c01ce96eb3c91612ba.jpg"
                  alt="Product"
                />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img
                  src="https://i.pinimg.com/736x/69/28/fc/6928fc784d3e61c01ce96eb3c91612ba.jpg"
                  alt="Product"
                />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img
                  src="https://i.pinimg.com/736x/69/28/fc/6928fc784d3e61c01ce96eb3c91612ba.jpg"
                  alt="Product"
                />
              </div>
            </div>
            <div class="image">
              <img
                src="https://i.pinimg.com/736x/69/28/fc/6928fc784d3e61c01ce96eb3c91612ba.jpg"
                alt="Image"
              />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href="">
                    <i class="fa fa-shopping-basket"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-heart"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="">Incidid Tongue Bar</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p><span class="money">500.000Đ</span> <span class="old-price">470.000Đ</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">-9%</div>
            <div class="label label-green">Pre-Order</div>
            <div class="product-container">
              <div class="p" (mouseover)="changeImage($event)">
                <img
                  src="https://i.pinimg.com/736x/69/28/fc/6928fc784d3e61c01ce96eb3c91612ba.jpg"
                  alt="Product"
                />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img
                  src="https://i.pinimg.com/736x/69/28/fc/6928fc784d3e61c01ce96eb3c91612ba.jpg"
                  alt="Product"
                />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img
                  src="https://i.pinimg.com/736x/69/28/fc/6928fc784d3e61c01ce96eb3c91612ba.jpg"
                  alt="Product"
                />
              </div>
            </div>
            <div class="image">
              <img
                src="https://i.pinimg.com/736x/69/28/fc/6928fc784d3e61c01ce96eb3c91612ba.jpg"
                alt="Image"
              />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href="">
                    <i class="fa fa-shopping-basket"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-heart"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="">Incidid Tongue Bar</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p><span class="money">500.000Đ</span> <span class="old-price">470.000Đ</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="policy">
  <div class="containers text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-car"></i>
            </div>
          </div>
          <h2>Free Shipping &amp; Return</h2>
          <p>Free shipping on all VN order</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-refresh"></i>
            </div>
          </div>
          <h2>Money Back Gurantee</h2>
          <p>30 days money back gurantee</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-phone"></i>
            </div>
          </div>
          <h2>Online Support 24/24</h2>
          <p>We support online 24/24</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="policy-product">
  <div class="containers">
    <div class="row">
      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>25</h3>
            <h4>Jun</h4>
          </div>

          <div class="policy-img">
            <img src="https://short.com.vn/XFnp" alt="P1" />
          </div>
          <h2>At vero eos et accusamus et</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
            occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
            mollitia animi, id est laborum et dolorum fuga.
          </p>
          <a href="" class="read-more">Read more <i class="fa fa-caret-right"></i> </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>25</h3>
            <h4>Jun</h4>
          </div>

          <div class="policy-img">
            <img src="https://short.com.vn/XFnp" alt="P1" />
          </div>
          <h2>At vero eos et accusamus et</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
            occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
            mollitia animi, id est laborum et dolorum fuga.
          </p>
          <a href="" class="read-more">Read more <i class="fa fa-caret-right"></i> </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>25</h3>
            <h4>Jun</h4>
          </div>

          <div class="policy-img">
            <img src="https://short.com.vn/XFnp" alt="P1" />
          </div>
          <h2>At vero eos et accusamus et</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
            occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
            mollitia animi, id est laborum et dolorum fuga.
          </p>
          <a href="" class="read-more">Read more <i class="fa fa-caret-right"></i> </a>
        </div>
      </div>
    </div>
  </div>
</section>
