<div class="container">
  <div class="row">
    <div class="col-8">
      <p-dataView #dv [value]="carts">
        <ng-template pTemplate="list" let-carts>
          <div class="grid grid-nogutter">
            <div class="col-12" *ngFor="let cart of carts; let first = first" class="col-12">
              <div
                class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
                [ngClass]="{ 'border-top-1 surface-border': !first }"
              >
                <div class="md:w-10rem relative">
                  <img
                    class="block xl:block mx-auto border-round w-full"
                    src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg"
                  />
                </div>
                <div
                  class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4"
                >
                  <div
                    class="flex flex-row md:flex-column justify-content-between align-items-start gap-2"
                  >
                    <div>
                      <span class="font-medium text-secondary text-sm">{{
                        cart.product.categoryName
                      }}</span>
                      <div class="text-lg font-medium text-900 mt-2">
                        {{ cart.product.name }}
                      </div>
                    </div>
                    <p-inputNumber
                      [(ngModel)]="cart.quantity"
                      mode="decimal"
                      [showButtons]="true"
                      inputId="minmax-buttons"
                      [min]="0"
                      [max]="100"
                      (ngModelChange)="updateQuantity(cart, $event)"
                    />
                  </div>

                  <div class="flex flex-column md:align-items-end gap-5">
                    <span class="text-xl font-semibold text-900">{{
                      '$' + cart.product.sellPrice
                    }}</span>
                    <div class="flex-auto">
                      <label for="Tổng tiền">Tổng tiền sản phẩm: {{ cart.product.name }} </label>
                      <p>{{ cart.quantity * cart.product.sellPrice }}</p>
                    </div>
                  </div>
                  <div class="delete-cart">
                    <i
                      class="pi pi-trash"
                      style="font-size: 2rem"
                      (click)="handleRemoveCart(cart.id)"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
    <div class="col-4 text-center">
      <div class="flex-auto">
        <h3>Tổng tiền cần thanh toán</h3>
        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="totalPrice" label="Tổng tiền">
        </textarea>
      </div>
    </div>
  </div>
</div>
